<section class="main-equipment white-block">
    <div class="container">
        <div class="main-equipment_top">
            <div class="main-equipment_top-title">Наше оборудование</div>
            <div class="btn btn-blue">Оборудование</div>
        </div>
        <div class="main-equipment_swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="main-equipment_container">
                        <div class="main-equipment_container-img">
                            <img src="../assets/images/main/main-equipment1.webp" alt="">
                        </div>
                        <div class="main-equipment_container-info">
                            <div class="main-equipment_container-title">Hydrafacial (США)</div>
                            <div class="main-equipment_container-text">HydraFacial® позволяет провести целый комплекс процедур (лечение, омоложение, лифтинг, увлажнение, чистка) за один сеанс. Он подходит для любого типа кожи, любого возраста, любого времени года.</div>
                            <div class="main-equipment_container-detail">
                                <div class="main-equipment_container-detail--title">Применение</div>
                                <ul>
                                    <li>– процедура обновления, очищения и отшелушивание кожи
                                        <svg width="29" height="10" viewBox="0 0 29 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M28.4596 5.45962C28.7135 5.20578 28.7135 4.79422 28.4596 4.54038L24.323 0.403806C24.0692 0.149965 23.6576 0.149965 23.4038 0.403806C23.15 0.657647 23.15 1.0692 23.4038 1.32304L27.0808 5L23.4038 8.67696C23.15 8.9308 23.15 9.34235 23.4038 9.59619C23.6576 9.85003 24.0692 9.85003 24.323 9.59619L28.4596 5.45962ZM0 5.65H28V4.35H0V5.65Z" fill="#2E2E2E" />
                                        </svg>
                                    </li>
                                    <li>– глубокое очищение кожи
                                        <svg width="29" height="10" viewBox="0 0 29 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M28.4596 5.45962C28.7135 5.20578 28.7135 4.79422 28.4596 4.54038L24.323 0.403806C24.0692 0.149965 23.6576 0.149965 23.4038 0.403806C23.15 0.657647 23.15 1.0692 23.4038 1.32304L27.0808 5L23.4038 8.67696C23.15 8.9308 23.15 9.34235 23.4038 9.59619C23.6576 9.85003 24.0692 9.85003 24.323 9.59619L28.4596 5.45962ZM0 5.65H28V4.35H0V5.65Z" fill="#2E2E2E" />
                                        </svg>
                                    </li>
                                    <li>– детоксикация, обновление и омоложение
                                        <svg width="29" height="10" viewBox="0 0 29 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M28.4596 5.45962C28.7135 5.20578 28.7135 4.79422 28.4596 4.54038L24.323 0.403806C24.0692 0.149965 23.6576 0.149965 23.4038 0.403806C23.15 0.657647 23.15 1.0692 23.4038 1.32304L27.0808 5L23.4038 8.67696C23.15 8.9308 23.15 9.34235 23.4038 9.59619C23.6576 9.85003 24.0692 9.85003 24.323 9.59619L28.4596 5.45962ZM0 5.65H28V4.35H0V5.65Z" fill="#2E2E2E" />
                                        </svg>
                                    </li>
                                </ul>
                            </div>
                            <div class="main-equipment_container-bottom">
                                <div class="main-equipment_container-bottom--title">Насадки на оборудование</div>
                                <div class="main-equipment_container-box">
                                    <div class="main-equipment_container-box_swiper">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">Lilac</div>
                                            <div class="swiper-slide">Lazur</div>
                                            <div class="swiper-slide">Erise</div>
                                            <div class="swiper-slide">Vivid</div>
                                        </div>
                                    </div>
                                    <div class="main-equipment_container-box_info_swiper">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <div class="main-equipment_container-box_img">
                                                    <img src="../assets/images/main/nozzle1.webp" alt="">
                                                </div>
                                                <div class="main-equipment_container-box_text">
                                                    <p>Данная насадка подходит для:</p>
                                                    <ul>
                                                        <li>- лечение гиперпигментации</li>
                                                        <li>- лечение розацеа</li>
                                                        <li>- фотоомоложение</li>
                                                        <li>- термолифтинг</li>
                                                        <li>- фотоэпиляция</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="main-equipment_container-box_img">
                                                    <img src="../assets/images/main/nozzle1.webp" alt="">
                                                </div>
                                                <div class="main-equipment_container-box_text">
                                                    <p>Данная насадка подходит для:2</p>
                                                    <ul>
                                                        <li>- лечение гиперпигментации</li>
                                                        <li>- лечение розацеа</li>
                                                        <li>- фотоомоложение</li>
                                                        <li>- термолифтинг</li>
                                                        <li>- фотоэпиляция</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="main-equipment_container-box_img">
                                                    <img src="../assets/images/main/nozzle1.webp" alt="">
                                                </div>
                                                <div class="main-equipment_container-box_text">
                                                    <p>Данная насадка подходит для:3</p>
                                                    <ul>
                                                        <li>- лечение гиперпигментации</li>
                                                        <li>- лечение розацеа</li>
                                                        <li>- фотоомоложение</li>
                                                        <li>- термолифтинг</li>
                                                        <li>- фотоэпиляция</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="main-equipment_container-box_img">
                                                    <img src="../assets/images/main/nozzle1.webp" alt="">
                                                </div>
                                                <div class="main-equipment_container-box_text">
                                                    <p>Данная насадка подходит для:4</p>
                                                    <ul>
                                                        <li>- лечение гиперпигментации</li>
                                                        <li>- лечение розацеа</li>
                                                        <li>- фотоомоложение</li>
                                                        <li>- термолифтинг</li>
                                                        <li>- фотоэпиляция</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="main-equipment_container-box_img">
                                                    <img src="../assets/images/main/nozzle1.webp" alt="">
                                                </div>
                                                <div class="main-equipment_container-box_text">
                                                    <p>Данная насадка подходит для:5</p>
                                                    <ul>
                                                        <li>- лечение гиперпигментации</li>
                                                        <li>- лечение розацеа</li>
                                                        <li>- фотоомоложение</li>
                                                        <li>- термолифтинг</li>
                                                        <li>- фотоэпиляция</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>